.comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment .profile {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  margin-right: 10px;
  object-fit: cover;
}

.comment .info {
  flex: 1; 
}

.comment .info span {
  font-weight: bold;
}

.comment .info p {
  margin: 5px 0;
}

.comment button {
  margin-left: 10px;
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.comment .username{
  font-size: 12px;
}
.comment .date {
  margin-left: 10px;
  font-size: 12px;
  color: #888;
}
