.home{

}
.mid{
    flex: 50%;
    border-style: solid;
}
.a{
    margin-top: 10px;
    display: flex;
    justify-items: space-between;
    /* position: sticky;
    top: 0; */
}

.test{
    flex: 6;
    padding-bottom: 2000px;
}