.leftbar {
  /* position: sticky;
    top: 0;
    padding: 10px 20px;
    margin-right: 30px;
    height: 1000px;
    flex:8%;
    border-right: solid;
    display: flex;
    flex-direction: column; */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.khust {
  font-family: cursive;
  font-size: 45px;
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
}

.luser {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.lprofilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.lprofile {
  font-size: 24px;
}

.lContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.lIcon {
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.lText {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.lContainer:hover .lIcon,
.lContainer:hover .lText {
  color: #ff0000;
}